:root {
    /* light mode */
    --grey: #697C9A;
    --navy-blue-light: #4B6A9B;
    --dark-light: #2B3442;
    --white-slight: #F6F8FF;
    --white-light: #FEFEFE;
    /* dark mode */
    --white: #FFF;
    --dark-light: #141D2F;
    --navy-blue-dark: #1E2A47;

    --blue: #0079FF;
}

.blue {color: var(--blue);}
.blue_ {
    color: var(--blue) !important;
}
.navy-blue-light {color: var(--navy-blue-light);}

::placeholder {
    color: #4B6A9B;
}

* {transition: .3s;}

.theme.bg {
    background-color: var(--white-slight);
}
.theme.bg.dark {
    background-color: var(--dark-light);
}
.theme.inner {
    background-color: var(--white-light);
}
.theme.inner.dark {
    background-color: var(--navy-blue-dark);
    box-shadow: none;
}
.theme.color {
    color: var(--navy-blue-light);
}
.theme.color.dark, .theme.color.heading.dark {
    color: #fff;
}
.theme.color.headingbold_sm.sm {
    color: var(--dark-light);
}
.theme.themeHover:hover * {
    color: #222731 !important;
    fill: #222731 !important;
}
.theme.themeHover.dark:Hover * {
    color: #90A4D4 !important;
    fill: #90A4D4 !important;
}


svg {
    fill: var(--navy-blue-light);
}
svg.dark {
    fill: #fff;
}
.notavailable, .notavailable * {
    fill: #697C9A !important;
    color: #697C9A !important;
}


.pointer {
    cursor: pointer;
}
.box-shadow {
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    border-radius: 15px;
}
.user-select-none {user-select: none;}

/* nav */
.devfinder {
    color: #222731;
}
.themetext {
    font-family: Space Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    user-select: none;
}

.searchBtn {
    color: #FFF;
    font-family: Space Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    background-color: var(--blue);
    border-radius: 10px;
    transition: background-color .2s;
}
.searchBtn:hover {
    background-color: #60ABFF;
}

/* main */
.input {
    border: none;
    background-color: inherit !important;
    /* color: #fff; */
}
.input:focus-visible {
    outline: none;
}

.rff-item {
    min-width: 80px;
    text-align: center;
}

.rff-item .headingbold_sm.dark {
    color: #fff !important;
}

.avatar-mobile {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.avatar-desktop {
    width: 117px;
    height: 117px;
    object-fit: cover;
}